<!DOCTYPE html>
<html lang="en" style="overflow-y:scroll; font-size:14px;">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Custom styles for this template -->
  </head>
  <body>
  <div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Saravanan Vijayakumaran</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sarvasitenavigation" aria-controls="sarvasitenavigation" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="sarvasitenavigation">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/about.html">About<span class="sr-only">About Saravanan Vijayakumaran</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/courses.html">Courses</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/links.html">Links</a>
            </li>
          </ul>
        </div>
      </nav>
    </div> <!--/.col-md-8 -->
  </div> <!--/.row-->

  <div class="row justify-content-center">
    <div class="col-md-8" style="margin:10px;">
      $body$
    </div> <!--/.col-md-8 -->
  </div> <!--/.row-->


  <div class="row justify-content-center">
    <div class="col-md-8">
      <hr />
      <footer>
      <p class="text-right small">
          <a href="https://github.com/avras/eesite">site source</a>
      </p>
      </footer>
    </div> <!--/.col-md-8 -->
  </div> <!--/.row-->
  </div><!-- /.container-->

  <!-- Other scripts necessary for Bootstrap's JavaScript plugins -->
  <script src="js/jquery-3.2.1.slim.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>

  </body>
</html>
